.badge {
    border-radius: 20px;
    padding: 10px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    cursor: pointer;

    text-transform: capitalize;
    color: #217AFF;
    background-color: #ffffff;
    border: 1px solid #217AFF;
    transition: all ease-in-out .3s;
}

.badge:hover {
    color: #ffffff;
    background-color: #217AFF;
}

.badge.selected {
    color: #ffffff;
    background-color: #217AFF;
}

.badge.selected:hover {
    background-color: #321FFF;
}