input[type="checkbox"] {
    position: relative;
    width: 24px;
    height: 24px;
    color: #000000;
    border: 2px solid #217AFF;
    border-radius: 4px;
    appearance: none;
    outline: 0;
    cursor: pointer;
    transition: all .3s cubic-bezier(0.1, 0.1, 0.25, 1);
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    display: block;
    top: 0px;
    left: 6px;
    width: 8px;
    height: 14px;
    border-style: solid;
    border-color: #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
}

input[type="checkbox"]:checked {
    color: #ffffff;
    border-color: #217AFF;
    background: #217AFF;
}
  
input[type="checkbox"]:checked::before {
    opacity: 1;
}

input[type="checkbox"]:checked ~ label::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.row {
    height: 92px;
    background-color: white;
    transition: all ease-in-out .3s;
}

.row:hover, .row.selected {
    background-color: #EDF5FF;
}

.row.selected:hover {
    background-color: #d3e3f6;
}

.row:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.row:first-child td:first-child {
    border-top-left-radius: 10px;
    overflow: hidden;
}

.row:first-child td:last-child {
    border-top-right-radius: 10px;
    overflow: hidden;
}

.row:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row:last-child td:first-child {
    border-bottom-left-radius: 10px;
    overflow: hidden;
}

.row:last-child td:last-child {
    border-bottom-right-radius: 10px;
    overflow: hidden;
}

.row td {
    text-align: center;
    border-bottom: 1px solid #eeeeee;
}

.row td:first-child {
    text-align: left;
} 

.row td:first-child .flex {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-left: 22px;
}

.row td:nth-child(2) {
    text-align: left;
}

.row td:nth-child(2) .flex {
    display: flex;
    gap: 15px
}

.row td.red {
    color: #FF0000;
}

.row td span {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.row .name {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
}